<ion-view animation="no-animation">
  <ion-nav-buttons> <button class="button ion-ios-arrow-back" ng-click="goHome()" >
            Zurück
           </button></ion-nav-buttons>
 <ion-nav-title bar-dark align-title="center">
          <img ng-src ="{{votexTitle}}">
              </ion-nav-title>
              
  <ion-content class="padding" has-header has-tabs>
    
    
    

   <ion-slide-box class="slider">
    <ion-slide ng-repeat="image in testImages2" >       
        <img style="width: 100%" ng-src="{{image}}" >
    </ion-slide>
</ion-slide-box>
<!-- Slidebox End -->
<div class="info">
<div class="row">
  <div class="col" align="center">
  <h2 >{{businessName2}}</h2>
  </div>
</div>

<div class="row">
  <div class="col col-75" align="center">
       <rating ng-model="rate" max="5" state-on="'voteOn'" state-off="'voteOff'" readonly = "true"></rating>
       </div>
       <div class="col">
          <div style="font-style:italic">1084 Votes</div>
       </div>
     </div>
     </div>
     

  <accordion close-others="oneAtATime" >
    
    <accordion-group  ng-click="resize()" is-open="status.open">
      <accordion-heading><i class="icon ion-plus-round" style="color: #D43D33;font-size: 22px" ng-class="{'ion-minus-round': status.open, 'ion-plus-round': !status.open}"></i> 
      Erweiterte Votes</accordion-heading>
       <rating ng-model="rate" max="5" state-on="'voteOn'" state-off="'voteOff'"></rating>
    </accordion-group>
    
          <accordion-group  ng-click="resize()" is-open="statusArticle.open">
             <accordion-heading><i class="icon ion-minus-round" ng-class="{'ion-minus-round': statusArticle.open, 'ion-plus-round': !statusArticle.open}" style="color: #D43D33;font-size: 22px"></i> 
      Beschreibung</accordion-heading>
       <h4 style="text-align: center;"> Wer hat Bock auf Party ?!</h4>
<p></p>

Lass gemeinsam richtig abgehen!</p>
 <p>
Jeden Donnerstag 2 für 1 </p>
 <p></p>

    </accordion-group>
     
            
   </accordion>
  


  </ion-content>
</ion-view>


