<ion-modal-view>
  <ion-header-bar class="bar-stable" align-title="center" >
    <h1 class="title" style="color:#D43D33;">{{businessName}}</h1>
    <div class="buttons">
      <button class="button button-dark button-clear" ng-click="hideModal()">Schließen</button>
    </div>
  </ion-header-bar>


  <ion-content class="businessModal" has-header>
    
    
    

   <ion-slide-box class="slider">
    <ion-slide ng-repeat="image in testImages" >       
        <img style="width: 100%" ng-src="{{image}}" >
    </ion-slide>
</ion-slide-box>

<div>
  <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
  </div>
  
  
<div class="businessBox">
  <form id="ratingsForm">
	<div class="stars">
		<input type="radio" name="star" class="star-1" id="star-1"/>
		<label class="star-1" for="star-1">1</label>
		<input type="radio" name="star" class="star-2" id="star-2" />
		<label class="star-2" for="star-2">2</label>
		<input type="radio" name="star" class="star-3" id="star-3" />
		<label class="star-3" for="star-3">3</label>
		<input type="radio" name="star" class="star-4" id="star-4" />
		<label class="star-4" for="star-4">4</label>
		<input type="radio" name="star" class="star-5" id="star-5" />
		<label class="star-5" for="star-5">5</label>
		<span></span>
	</div>
  
</form>
   <p>
   <h4 style="text-align: center;"> Unser Restaurant ist unser ganzer Stolz!</h4>
<p></p>

Nach einem Tag am Strand, einer Fahrradtour in unserer schönen Umgebung oder nach einem Einkaufsbummel, können Sie sich darauf freuen,
 sich mit einem guten Wein und erstklassigen Speisen verwöhnen zu lassen.</p>
 <p>
Mit viel Phantasie bereiten unsere Chefs immer neue und ausgefallene Speisen zu, die Ihnen nie langweilig werden.

Die frischen, hiesigen Zutaten werden dabei mit grosser Sorgfalt ausgewählt.</p>
 <p>
Wir sind sicher, dass Sie sich in unserem eleganten Speisesaal wohlfühlen werden.

Unser freundliches und aufmerksames Personal wird Sie hier mit einem erstklassigen Service bedienen.
</p>

Zu jeder Mahlzeit bieten wir eine reiche Auswahl an Gemüse und Salaten, die von unserem berühmten Olivenöl gekrönt werden.

Sie haben immer die Wahl zwischen drei ersten, drei zweiten Gängen und verschiedenen Beilagen.

Als Dessert stehen Ihnen Früchte der Saison, Obstsalat, Eis oder ein hausgemachter Nachtisch zur Auswahl.

 

Guten Appetit!
    </p>

</div>



        </ion-content>
        <div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon icon-votex_icon"></i>
    Vote
  </a>
  <a class="tab-item">
    <i class="icon ion-compose"></i>
    Kommentieren
  </a>
  <a class="tab-item">
    <i class="icon ion-share"></i>
    Teilen
  </a>
</div>
</ion-modal-view>
