<ion-view>
  <ion-content  ng-controller="businessCtrl">
           
     <!-- Google Maps -->
  
      <div class="info">
<div map-lazy-load="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false&amp;language=de&amp;v=3.20" >
  <map draggable="false" center="{{mapCenter(lat,lng)}}" zoom="15">
    <marker position="{{mapCenter(lat,lng)}}"></marker>
      <info-window id="1" position="{{mapCenter(lat,lng)}}" >
     <div ng-non-bindable>
       Chicago, IL<br/>
     
     </div>
   </info-window>
  </map>
</div>
</div> 
  <!-- Google Maps Ende -->
  
<div class="bottom">
  <button class="button button-stable button-block button-positive" ng-click="closePopup()">
          Ok
           </button></div>
        </ion-content>
</ion-view>
