<ion-header-bar align-title="center" class="bar-positive">

  <h1 class="title">{{businessName}}</h1>
  <div class="buttons">
    <button class="button button-clear" ng-click="closeBusiness()">Schließen</button>
  </div>
</ion-header-bar>

<ion-content  type="text/ng-template" overflow-scroll="false" ng-controller="businessCtrl">



  <ng-map class="map" center="51.20267,6.692389999999932" zoom="16" draggable="false">
    <marker position="{{address}}"></marker>
    </ng-map>


<button class="button  button-positive" style="width:100%;position:fixed">
  Route hierhin
  </button>

</ion-content>

<script></script>