<ion-header-bar align-title="center" class="bar-light">

  <h1 class="title">{{businessName}}</h1>
  <div class="buttons">
    <button class="button button-clear" ng-click="closeBusiness()">Schließen</button>
  </div>
</ion-header-bar>

<ion-content  type="text/ng-template" overflow-scroll="false" ng-controller="businessCtrl">



  <ng-map class="map" center="{{placeObject.geometry.location.lat()}},{{placeObject.geometry.location.lng()}}" zoom="18" draggable="false">
    <marker position="{{placeObject.geometry.location.lat()}},{{placeObject.geometry.location.lng()}}"></marker>
    </ng-map>


<button class="button  button-positive" style="width:100%;position:fixed">
  Route hierhin
  </button>

</ion-content>

<script></script>