<ion-view animation="no-animation">
  <ion-nav-buttons> <button class="button ion-ios-arrow-back" ng-click="goHome()" >
            Zurück
           </button></ion-nav-buttons>
 <ion-nav-title bar-dark align-title="center">
          <img ng-src ="{{votexTitle}}">
              </ion-nav-title>
              
  <ion-content class="padding" has-header>
    
    
    

  <div class="info">
   <ion-slide-box class="slider">
    <ion-slide ng-repeat="image in testImages" >       
        <img style="width: 100%" ng-src="{{image}}" >
    </ion-slide>
</ion-slide-box>
</div>
<!-- Slidebox End -->

  
<div class="row">
  <div class="col" align="center">
  <h2 >{{businessName}}</h2>
  </div>
</div>

<div class="row">
  <div class="col col-75" align="center">
       <rating ng-model="rate" max="5" state-on="'voteOn'" state-off="'voteOff'" readonly = "true"></rating>
       </div>
       <div class="col">
          <div style="font-style:italic">1084 Votes</div>
       </div>
     </div>
     
     
     <!-- Google Maps -->
 <div class="info">
 <ui-gmap-google-map center='map.center' zoom='map.zoom' >
  <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
   </ui-gmap-google-map>
  </div>    
 
  <!-- Google Maps Ende -->
 
  <!-- -------------- Accordion -------------- -->
  <accordion close-others="oneAtATime" >
    
    <accordion-group  ng-click="resize()" is-open="status.open">
      <accordion-heading><i class="icon ion-plus-round" style="color: #D43D33;font-size: 22px" ng-class="{'ion-minus-round': status.open, 'ion-plus-round': !status.open}"></i> 
      Detaillierte Votes</accordion-heading>
              <div class="row">
                <div class="col" style="font-style:italic" align="center">
              Durchschnittswertungen
              </div>
              </div>
              
      <div class="row">
        <div class="col">
          Preis/Leistung
          </div>
          <div class="col">
             <rating ng-model="fiveVote" max="5" state-on="'voteRateOn'" state-off="'voteRateOff'" readonly = "true" style="padding-left: 25%"></rating>
            </div>
        </div>
        
         <div class="row">
        <div class="col">
          Service
          </div>
          <div class="col">
           <rating ng-model="fourVote" max="5" state-on="'voteRateOn'" state-off="'voteRateOff'" readonly = "true" style="padding-left: 25%"></rating>
            </div>
              </div>
        
        <div class="row">
        <div class="col">
          Location
          </div>
          <div class="col">
             <rating ng-model="fiveVote" max="5" state-on="'voteRateOn'" state-off="'voteRateOff'" readonly = "true" style="padding-left: 25%"></rating>
            </div>
        </div>
        
         <div class="row">
        <div class="col">
          Küche
          </div>
          <div class="col">
             <rating ng-model="fiveVote" max="5" state-on="'voteRateOn'" state-off="'voteRateOff'" readonly = "true" style="padding-left: 25%"></rating>
            </div>
        </div>
        
  
    </accordion-group>
    
      <accordion-group  ng-click="resize()" is-open="statusComments.open">
      <accordion-heading><i class="icon ion-plus-round" style="color: #D43D33;font-size: 22px" ng-class="{'ion-minus-round': statusComments.open, 'ion-plus-round': !statusComments.open}"></i> 
      Empfehlung</accordion-heading>
      
        <div class="item item-avatar">
    <img ng-src="{{harunProfileImg}}">
    <h2>Harun Oral   <rating ng-model="fiveVote" max="5" state-on="'voteRateOn'" state-off="'voteRateOff'" readonly = "true" style="padding-left: 10%"></rating></h2> 
    <p>Experte <i class="icon ion-ios-star" style="color: #D43D33;"></i></p>
      </div>
  
   <div class="item item-body">
  <div class="comment">
  
    Außergewöhnlich, hervorragend, großartig – perfekt. 
      Mehr braucht man nicht zu sagen.
   </div>
  </div>
  
      
    </accordion-group>
    
    
          <accordion-group  ng-click="resize()" is-open="statusArticle.open">
             <accordion-heading><i class="icon ion-minus-round" ng-class="{'ion-minus-round': statusArticle.open, 'ion-plus-round': !statusArticle.open}" style="color: #D43D33;font-size: 22px"></i> 
      Beschreibung</accordion-heading>
       <h4 style="text-align: center;"> Unser Restaurant ist unser ganzer Stolz!</h4>
<p></p>

Nach einem Tag am Strand, einer Fahrradtour in unserer schönen Umgebung oder nach einem Einkaufsbummel, können Sie sich darauf freuen,
 sich mit einem guten Wein und erstklassigen Speisen verwöhnen zu lassen.</p>
 <p>
Die frischen, hiesigen Zutaten werden dabei mit grosser Sorgfalt ausgewählt.</p>
 <p>
Wir sind sicher, dass Sie sich in unserem eleganten Speisesaal wohlfühlen werden.

Unser freundliches und aufmerksames Personal wird Sie hier mit einem erstklassigen Service bedienen.
</p>
Guten Appetit! </p>
    </accordion-group>        
   </accordion>
   
    <!-- -------------- Accordion End -------------- -->   
   
  </ion-content>
</ion-view>


