<ion-modal-view>
  <ion-header-bar class="bar-stable" align-title="center" >
    <h1 class="title">Business Template</h1>
    
    <div class="buttons">
      <button class="button button-dark" ng-click="closeBusiness()">Schließen</button>
    </div>
  </ion-header-bar>
  <ion-content class="businessModal">

   <ion-slide-box class="businessBox">
    <ion-slide ng-repeat="image in testImages" >       
        <img style="width: 100%" src="{{image}}" >
    </ion-slide>

</ion-slide-box>

   <p>
      Dies ist eine Beispielkarte. Der Header besteht aus dem Titel, Untertitel und einem Thumbnail-Image.
      Der Content besteht aus einem größerem Bild, welches von Google Places bezogen wird und einem ausführlicheren Beschreibungstext.
      Der Footer besteht aus Buttons mit Icons.
    </p>   <p>
      Dies ist eine Beispielkarte. Der Header besteht aus dem Titel, Untertitel und einem Thumbnail-Image.
      Der Content besteht aus einem größerem Bild, welches von Google Places bezogen wird und einem ausführlicheren Beschreibungstext.
      Der Footer besteht aus Buttons mit Icons.
    </p>   <p>
      Dies ist eine Beispielkarte. Der Header besteht aus dem Titel, Untertitel und einem Thumbnail-Image.
      Der Content besteht aus einem größerem Bild, welches von Google Places bezogen wird und einem ausführlicheren Beschreibungstext.
      Der Footer besteht aus Buttons mit Icons.
    </p>   <p>
      Dies ist eine Beispielkarte. Der Header besteht aus dem Titel, Untertitel und einem Thumbnail-Image.
      Der Content besteht aus einem größerem Bild, welches von Google Places bezogen wird und einem ausführlicheren Beschreibungstext.
      Der Footer besteht aus Buttons mit Icons.
    </p>   <p>
      Dies ist eine Beispielkarte. Der Header besteht aus dem Titel, Untertitel und einem Thumbnail-Image.
      Der Content besteht aus einem größerem Bild, welches von Google Places bezogen wird und einem ausführlicheren Beschreibungstext.
      Der Footer besteht aus Buttons mit Icons.
    </p>




        </ion-content>
</ion-modal-view>
