<ion-view >

              
<div class="bar bar-subheader" style="background-color: positive">
  <h2 class="title" style="color: white">Feedback / Support</h2>
</div>

  <ion-content class="has-subheader">
   
  <a class="item item-icon-left" href="mailto:admin@vote-x.net">
    <i class="icon ion-email" style="color: #D43D33;"></i>
    Eine Mail an mich schicken !
  </a>
  
   <a class="item item-icon-left" href="mailto:admin@vote-x.net">
    <i class="icon ion-help" style="color: #D43D33;"></i>
  FAQ's
  </a>
  <a class="item item-icon-left" href="#/app/agb">
    <i class="icon ion-document-text" style="color: #D43D33;"></i>
  AGB
  </a>
  
    <a class="item item-icon-left" href="http://www.vote-x.net">
    <i class="icon ion-earth" style="color: #D43D33;"></i>
  Zur Vote-X Homepage
  </a>

   
  </ion-content>
  
<div class="bar bar-footer bar-assertive">
 <div class="poweredBy">  VoteX&copy; powered by      <i class="icon ion-social-angular"> </i> <i class="icon ion-social-html5"></i> <i class="icon ion-social-css3"></i>
  <i class="icon ion-social-javascript"></i> <i class="icon ion-ionic"></i> <i class="icon ion-social-google"></i> 
   </div>

</div>
</ion-view>
