<ion-view>
      <ion-nav-buttons> <button class="button ion-ios-arrow-back"  ng-click="goBack()">
            Zurück
           </button></ion-nav-buttons>
           
           
<div class="bar bar-subheader" style="background-color: white; border-bottom-color: #D43D33; border-bottom-size: 1px; border-bottom-style: solid">
  <h2 class="title">
 <img  ng-src="{{partner.profileImage}}" alt="Fehler!" style="max-height:80%; border-radius:50%" /> {{partner.name}}</h2>
</div>
  <ion-content has-bouncing="true" class=" has-header has-subheader has-footer" delegate-handle="chatScroll">
      


<div class="row" ng-repeat="object in messages track by $index">
    
    <div ng-class="{'chat-bubble right':object.ownMessage,'chat-bubble left':!object.ownMessage}">
        

    {{object.text}}

   
      <hr noshade size="1">  
    {{object.time}}
  </div>
  </div>
  
  
  <!-- bottom cut fix -->
  <div style="height:10%"></div>
  
  <!-- Keyboard opened fix-->
    <div ng-if="keyboardFix.keyboardOpen" style="height:{{keyboardFix.footerHeight}}px"></div>
    
    <br/><br/>
    
    
    <div ng-if="isApple.yes">
        <br/><br/>
    </div>
    
  </ion-content>
 
 
    <ion-footer-bar keyboard-attach class="bar-stable">    
    <label class="item-input-wrapper" style="width: 100%">
      <input type="text" placeholder="Sende eine Nachricht..." ng-model="input.message" style="width: 100%;height:95%;background-color:#F0F0F0">
    </label>
      <button ng-disabled='input.message == "" || input.message == null || input.message == undefined' class="button button-assertive" ng-click="postMessage(input.message)">
        Senden
      </button>
    </ion-footer-bar>
    


</ion-view>
