<ion-view>
<div class="bar bar-subheader" style="background-color: white; border-bottom-color: #D43D33; border-bottom-size: 1px; border-bottom-style: solid">
  <h2 class="title"><i class="icon ion-android-mail" style="color: #D43D33;font-size: 22px; margin-right: 5px"></i>Nachrichten</h2>
</div>
  <ion-content has-bouncing="true" class=" has-header has-subheader">
<button ng-click="createMail()" class="button button-assertive button-block"><i class="icon ion-paper-airplane"></i>Nachricht erstellen</button>



<div class="list" ng-repeat="partner in message track by $index"> 

  <li class="item" class="listMessageItem"> 
  <div class="row">
      <div class="col">
   <img ng-if="!partner.ownProfileImage" ng-src="{{partner.profileImage}}" class="listItemAvatar"/> 
     <img ng-if="partner.ownProfileImage" data-ng-src="data:image/png;base64,{{partner.profileImage}}" class="listItemAvatar"/>{{partner.name}}
   </div>
   <div class="col">
   <button ng-click="openMessages($index)" class="button button-assertive button-clear openMessageItem"> <i class="icon ion-email" style="margin-right:1%"></i>Öffnen</button>
   </div></div>
    </li>

  </div>


  </ion-content>


</ion-view>
