<!-- Title -->
<ion-view >


<!-- Content data-ng-init="loggedOut()"-->

  <ion-content class="profile" ng-controller="profileCtrl" lazy-scroll has-bouncing="true">
     



<div class="profileImg">

       <img ng-src="{{harunProfileImg}}" alt="Profilbild hochladen!" style="border-radius: 10px; border-width: 1px; border-style: solid; border-color: white" width="150px">
           </div>
  
  <div class="profileInfo">
  <div class="row">
  <div class="col" align="center">
  <h2 ><i class="icon ion-ios-star" style="color: #D43D33;margin-right: 10px"></i>{{username}} </h2>
  </div>
</div>

  <button class="button button-stable button-block button-assertive" ng-click="sendSMSText()">
          <i class="icon icon-votex_icon" style="color: white"></i>
  SMS-Verifizierung
           </button>
             <div class="row" style="margin-left: 2px">
             <div class="col">
                 <button class="button  button-block button-positive">
          <i class="icon ion-ios-contact-outline" style="color: white;margin-right: 5px"></i>   
     Freunde werden
           </button>
               </div>
                    <div class="col">
                 <button class="button  button-block button-assertive">
      <i class="icon ion-email" style="color: white;margin-right: 5px"></i>      
      Mail schreiben
           </button>
               </div>
               
               </div>
  
       <div class="row" style="margin-left: 2px">
             <div class="col">
               Stufe:
               </div>
               <div class="col">
               <b>  {{level}} </b>
                 </div>
             </div>         
  
             <div class="row" style="margin-left: 2px">
             <div class="col">
               Anzahl der Votes: 
               </div>
               <div class="col">
                 {{VotesCount}}
                 </div>
             </div>          
          
           
           <div class="row" style="margin-left: 2px">
             <div class="col">
               Zuletzt aktiv am: 
               </div>
                 <div class="col">
                 {{lastDate}}
                 </div>
             </div>         
                    
                    </div>   
  </ion-content>
</ion-view>
