<ion-view>
  
 <ion-nav-title bar-dark align-title="center">
          <img src="img/votex_title.png">
              </ion-nav-title>
              
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear button-assertive ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content class="registration">


    <div id="form">
  <form name="registerForm" novalidate ng-submit="registerForm.$valid && doRegister(username1, password1, password2)"
    ng-class="{ 'has-error' : registerForm.username1.$invalid && registerForm.$submitted }">
    <div class="list">
  
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
        <input name="username1" type="email" ng-model="username1" placeholder="Email"
        ng-minlength="5"
        ng-maxlength="25"
        required>
      </label>
      <div style="color:red" class="form-errors" ng-messages="registerForm.username1.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">Sie benötigen zur Registrierung eine Email.</div>
        <div class="form-error" ng-message="email">In dieses Feld muss eine korrekte Email-Adresse eingetragen werden.</div>
        <div class="form-error" ng-message="maxlength">Ups, ihre Eingabe enthält zu viele Zeichen.</div>
      </div>
        <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.password1.$invalid  && registerForm.$submitted}">
        <span class="input-label">Password</span>
        <input name="password1" type="password" ng-model="password1" placeholder="Passwort"
        ng-minlength="5"
        ng-maxlength="25"
        required>
      </label>
      <div style="color:red" class="form-errors" ng-messages="registerForm.password1.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">Sie müssen hier ein Passwort eingeben.</div>
        <div class="form-error" ng-message="minlength">Ihr Passwort muss mindestens 5 Zeichen enthalten!</div>
        <div class="form-error" ng-message="maxlength">Ihr Passwort darf maximal 25 Zeichen enthalten!</div>
        <div class="form-error" ng-message="pattern">Ihr Passwort darf nur aus Buchstaben und Zahlen bestehen!</div>
      </div>
      <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.password2.$invalid  && registerForm.$submitted}">
      <span class="input-label">Passwort wiederholen</span>
      <input name="password2" type="password" ng-model="password2" placeholder="Passwort wiederholen"
      ng-minlength="5"
      ng-maxlength="25"
      required>
    </label>
    <div style="color:red" class="form-errors" ng-messages="registerForm.password2.$error" ng-if="registerForm.$submitted">
      <div class="form-error" ng-message="required">Sie müssen hier ihr Passwort wiederholen.</div>
      <div class="form-error" ng-message="minlength">Ihr Passwort muss mindestens 5 Zeichen enthalten!</div>
      <div class="form-error" ng-message="maxlength">Ihr Passwort darf maximal 25 Zeichen enthalten!</div>
      <div class="form-error" ng-message="pattern">Ihr Passwort darf nur aus Buchstaben und Zahlen bestehen!</div>
    </div>
      <input type="submit" value="Registrieren" class="button button-block button-positive"/>
    </div>

  </form>
</div>

  </ion-content>


</ion-view>
