<ion-view>
<div class="bar bar-subheader">
  <h2 class="title">Letzte Suchanfragen</h2>
</div>
  <ion-content class="voteBg has-header has-subheader" lazy-scroll overflow-scroll="true">


    
      <div class="list card">

  <div class="item item-avatar">
         <h2>{{dynamicName}}</h2>
         
    <p><img ng-src="{{icon}}" ng-show="icon" lazy-scroll-resize="true" style="max-width: 20px"> </img> {{type}}</p>

     <rating ng-model="place.rating" max="5" state-on="'voteTitleOn'" 
     state-off="'voteTitleOff'" readonly="true" titles="['one','two','three','four','five']"></rating>
    
     
      <div class="voteNumber">
        <b>{{totalRatings}} Votes</b>
     </div>
  </div>

  <div class="item item-body">

    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>
      </div>



  </ion-content>


</ion-view>
