<ion-view>
<div class="bar bar-subheader">
  <h2 class="title">Letzte Suchanfragen</h2>
</div>
  <ion-content class="voteBg has-header has-subheader" lazy-scroll>

      <div class="list card" ng-repeat="object in search | orderBy:'place_uid':true">

  <div class="item item-avatar">
         <h2>{{object.place_name}}</h2>
         
    <p><img ng-src="{{icon}}" ng-show="icon" lazy-scroll-resize="true" style="max-width: 20px"> </img> {{object.place_type}}</p>

    <p>{{object.place_address}}</p>
    

  </div>


      </div>

    
  </ion-content>


</ion-view>
