<ion-view>
   <ion-nav-title bar-dark align-title="center">
          <img ng-src ="{{votexTitle}}">
              </ion-nav-title>
  <ion-content>

    <h3 style="margin-left:10px ">Trends</h3>
    
      
<h2>Kategorien</h2>
<div class="col">
<button class="button button-full no-padding" style="background-image: url('img/buttonRestaurant.jpg'); background-size: cover; line-height: 20vh !important;border: 0px;">
  <div style="color:white">Restaurant </div>
  </button>      
<button class="button button-full no-padding" style="background-image: url('img/buttonBar.jpg'); background-size: cover; line-height: 20vh !important; border: 0px;">
  <div style="color: white;">Bar </div>
  </button>   
  <button class="button button-full no-padding" style="background-image: url('img/buttonCoffee.png'); background-size: cover; line-height: 20vh !important;border: 0px;" ng-click="goHome()">
  <div style="color: white;">.</div>
  </button>   

</div>




  </ion-content>


</ion-view>
