<ion-view>

              <div class="bar bar-subheader bar-assertive" style="background-color: #AF251B">
  <h2 class="title">Kategorien</h2>
</div>
  <ion-content has-subheader>


    
      


  
  <div class="kategorien" style="margin-top: 15%">
<button class="button button-full no-padding" style="background-image: url('img/buttonRestaurant.png'); background-size: cover; line-height: 20vh !important;border: 0px;">
  <div style="color:white;font-size:0px;">. </div>
  </button>      
  </div>
  
  <div class="kategorien">
<button class="button button-full no-padding" style="background-image: url('img/buttonBar.png'); background-size: cover; line-height: 20vh !important; border: 0px;">
  <div style="color: white;font-size:0px">. </div>
  </button>   
</div>

<div class="kategorien">
  <button class="button button-full no-padding" style="background-image: url('img/buttonCoffee.png'); background-size: cover; line-height: 20vh !important;border: 0px;" ng-click="goHome()">
  <div style="color: white;font-size:0px">.</div>
  </button>   
</div>

<div class="kategorien">
  <button class="button button-full no-padding" style="background-image: url('img/buttonClub.png'); background-size: cover; line-height: 20vh !important;border: 0px;" ng-click="goHome()">
  <div style="color: white;font-size:0px">.</div>
  </button>   
</div>






  </ion-content>


</ion-view>
