<ion-modal-view style="
                        width: 90%; height: 60%;border-radius: 20px;
                        top:26%; bottom: 20%; left: 8%;
                         min-height: 0 !important;background-color:transparent">

  <ion-content ng-controller="userCtrl">

    <div style="width:90%;position: relative;background-color:transparent;">

      <img data-ng-src="{{viewerData.img}}" style="border-radius:50%;max-width: 110px;top:0;left:0;border-style:solid; border-width:2px;border-color:darkred;width: 27vw;margin-bottom:-15%">

      <div style="border-style: solid; background-color: whitesmoke; border-width: 2px; border-color: darkred; border-radius: 25px;">

        <div class="row" style="margin-left:0.5%">
          <div style="margin-left: 10%;" class="col">
            <h3 class="ng-binding" style="color: darkred;">{{viewerData.name}}<i ng-if="viewerData.verified" class="icon ion-ios-star" style="color: #D43D33;"></i></h3>
          </div>
        </div>


        <div style="margin-left: 2px;height: 5vh" class="row" ng-if="viewerData.age">
          <div class="col">
            <h5>Alter:</h5>

          </div>
          <div class="col">
            <h5>{{viewerData.age}}</h5>
          </div>
        </div>

        <div style="margin-left: 2px;height: 5vh" class="row" ng-if="viewerData.city">
          <div class="col">
            <h5>Ort:</h5>

          </div>
          <div class="col">
            <h5>{{viewerData.city}}</h5>
          </div>
        </div>



        <div style="margin-left: 2px;height: 5vh" class="row">
          <div class="col">
            <h5>Votes:</h5>

          </div>
          <div class="col">
            <h5>{{viewerData.amountVotes}}</h5>
          </div>
        </div>

        <div style="margin-left: 2px;height: 5vh" class="row">
          <div class="col">
            <h5>Vote-Punkte:</h5>

          </div>
          <div class="col">
            <h5>{{viewerData.upvotePoints}}</h5>
          </div>
        </div>

        <div style="margin-left: 2px;height: 8vh" class="row">
          <div class="col">
            <h5>Mitglied seit:</h5>

          </div>
          <div class="col">
            <h5>{{viewerData.since}}</h5>
          </div>
        </div>

        <button style="margin-top: 0px ! important; margin-bottom: 0px ! important; border-radius: 0px 0px 20px 20px; background-color: darkred; color: whitesmoke;" class="button button-block">
          <i class="icon ion-person-add"></i>
          Kontaktanfrage</button>

      </div>
    </div>
  </ion-content>
</ion-modal-view>
