<ion-view>
<div class="bar bar-subheader" style="background-color: white; border-bottom-color: #D43D33; border-bottom-size: 1px; border-bottom-style: solid">
  <h2 class="title"><i class="icon icon-votex_icon" style="color: #D43D33;font-size: 22px; margin-right: 5px"></i>Deine Votes</h2>
</div>
  <ion-content has-bouncing="true">


  <div class="list card" ng-repeat="object in votedPlace[$index]">

  <div class="item item-avatar">
         <h2>{{object.place.name}}</h2>
         
    <p><img ng-src="{{object.place_icon}}" style="max-width: 20px"> </img>{{object.place_type}}</p>

    <p>{{object.place_address}}</p>
    

  </div>

<div style="height: 10%; margin-top:25px !important">
</div>
    
  </ion-content>


</ion-view>
