<ion-header-bar align-title="center" class="bar-assertive">

  <h1 class="title">{{businessName}}</h1>
  <div class="buttons">
    <button class="button button-clear" ng-click="closeVote()">Schließen</button>
  </div>
</ion-header-bar>

<ion-content class="businessMap" id="vote.html" type="text/ng-template" has-header>

    <div class="row responsive-sm">
      <div class="col" style="max-height:10px">Preis/Leistung</div>
      <div class="col"><rating ng-model="fiveVote" max="5" state-on="'voteRateOn'" state-off="'voteRateOff'" readonly = "false"></rating></div>
      </div>    
</ion-content>
<script></script>