<ion-view >
  <ion-nav-buttons> <button class="button ion-ios-arrow-back"  ng-click="goBack()">
            Zurück
           </button></ion-nav-buttons>
              
<div class="bar bar-subheader" >
  <h2 class="title" style="color: white">AGB</h2>
</div>

  <ion-content class="has-subheader">
	  <div style="margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    ">
    ** PLATZHALTER **
    
Allgemeine Geschäftsbedingungen (AGB) und
Verbraucherinformationen
Stand: 01/2015
Allgemeine Geschäftsbedingungen und Verbraucherinformationen im Rahmen von Kaufverträgen, die
über den Onlineshop zwischen ________________________________________ (Name einsetzen) -
im Folgenden „Verkäufer“ - und dem Kunden - im Folgenden „Kunde“ - geschlossen werden.
§ 1 Geltungsbereich und allgemeine Hinweise
(1) Vorbehaltlich individueller Absprachen und Vereinbarungen, die Vorrang vor diesen AGB haben,
gelten für die Geschäftsbeziehung zwischen dem Verkäufer und dem Kunden ausschließlich die
nachfolgenden Allgemeinen Geschäftsbedingungen. Soweit nichts anderes vereinbart, wird der
Einbeziehung von eigenen Bedingungen des Kunden widersprochen. 
© Rechtsanwalt Jacob Metzler
➠ www.rechtsanwalt-metzler.de
Seite 2 von 5
(2) Der Kunde ist Verbraucher, soweit er den Vertrag zu Zwecken abschließt, die überwiegend weder
seiner gewerblichen noch seiner selbständigen beruflichen Tätigkeit zugerechnet werden können.
Dagegen ist Unternehmer jede natürliche oder juristische Person oder eine rechtsfähige
Personengesellschaft, die bei Abschluss eines Rechtsgeschäfts in Ausübung ihrer gewerblichen oder
selbständigen beruflichen Tätigkeit handelt.
§ 2 Vertragsschluss
(1) Der Vertrag kommt zustande mit:
(hier Name und Anschrift einsetzen)
________________________
________________________
________________________
(2) Die wesentlichen Merkmale der Ware ergeben sich aus der jeweiligen vom Verkäufer eingestellten
Produktbeschreibung.
(3) Sämtliche Angebote in dem Onlineshop des Verkäufers stellen lediglich eine unverbindliche
Einladung an den Kunden dar, dem Verkäufer ein entsprechendes Kaufangebot zu unterbreiten. Sobald
der Verkäufer die Bestellung des Kunden erhalten hat, wird dem Kunde zunächst eine Bestätigung über
den seiner Bestellung beim Verkäufer zugesandt, in der Regel per E-Mail (Bestellbestätigung). Die
Bestellbestätigung stellt noch nicht die Annahme der Bestellung dar. Nach Eingang der Bestellung des
Kunden wird der Verkäufer diese kurzfristig prüfen und dem Kunden innerhalb von 2 Werktagen
mitteilen, ob er die Bestellung annimmt (Auftragsbestätigung). Der Bestellvorgang in dem Onlineshop
des Verkäufers funktioniert wie folgt:
(4) Der Kunde kann aus dem Sortiment des Verkäufers Produkte auswählen und diese über den Button
„In den Korb“ in einem so genannten Warenkorb sammeln. Durch Klick auf den Button „Warenkorb“
erhält der Kunde einen Überblick über die ausgewählten Produkte. Über den Button „Jetzt kaufen“ gibt
er einen verbindlichen Antrag zum Kauf der im Warenkorb befindlichen Waren ab. Vor Absenden der
Bestellung kann der Kunde die Daten jederzeit durch die als Pfeiltasten dargestellten
Browserfunktionen „Zurück“ und „Weiter“ die eingegebene Bestellung sowie die eingetragenen Daten
ändern und einsehen. Der Antrag kann nur abgegeben und übermittelt werden, wenn der Kunde durch
Klicken auf den Button „AGB akzeptieren“ diese Vertragsbedingungen akzeptiert und dadurch in seinen
Antrag aufgenommen hat. Der Verkäufer schickt daraufhin dem Kunden eine automatische
Empfangsbestätigung per E-Mail zu, in welcher die Bestellung des Kunden nochmals aufgeführt wird 
© Rechtsanwalt Jacob Metzler
➠ www.rechtsanwalt-metzler.de
Seite 3 von 5
und die der Kunde über die Funktion „Drucken“ ausdrucken kann. Die automatische
Empfangsbestätigung dokumentiert lediglich, dass die Bestellung des Kunden beim Verkäufer
eingegangen ist und stellt keine Annahme des Antrags dar. Der Vertrag kommt erst durch die Abgabe
der Annahmeerklärung durch den Verkäufer zustande, die mit einer gesonderten E-Mail versandt wird.
§ 3 Vertragsgegenstand, Beschaffenheit, Lieferung, Warenverfügbarkeit
(1) Vertragsgegenstand sind die im Rahmen der Bestellung vom Kunden spezifizierten und der Bestellund/oder
Auftragsbestätigung genannten Waren und Dienstleistungen zu den im Onlineshop genannten
Endpreisen. Fehler und Irrtümer dort sind vorbehalten, insbesondere was die Warenverfügbarkeit
betrifft.
(2) Die Beschaffenheit der bestellten Waren ergibt sich aus den Produktbeschreibungen im Onlineshop.
Abbildungen auf der Internetseite geben die Produkte unter Umständen nur ungenau wieder;
insbesondere Farben können aus technischen Gründen erheblich abweichen. Bilder dienen lediglich
als Anschauungsmaterial und können vom Produkt abweichen. Technische Daten, Gewichts-, Maß und
Leistungsbeschreibung sind so präzise wie möglich angegeben, können aber die üblichen
Abweichungen aufweisen. Die hier beschriebenen Eigenschaften stellen keine Mängel der vom
Verkäufer gelieferten Produkte dar.
(3) Sind zum Zeitpunkt der Bestellung des Kunden keine Exemplare des von ihm ausgewählten
Produkts verfügbar, so teilt der Verkäufer dem Kunden dies in der Auftragsbestätigung mit. Ist das
Produkt dauerhaft nicht lieferbar, sieht der Verkäufer von einer Annahmeerklärung ab. Ein Vertrag
kommt in diesem Fall nicht zustande.
(4) Ist das vom Kunden in der Bestellung bezeichnete Produkt nur vorübergehend nicht verfügbar, teilt
der Verkäufer dem Kunden dies ebenfalls unverzüglich in der Auftragsbestätigung mit. Bei einer
Lieferungsverzögerung von mehr als zwei Wochen hat der Kunde das Recht, vom Vertrag
zurückzutreten. Im Übrigen ist in diesem Fall auch der Verkäufer berechtigt, sich vom Vertrag zu lösen.
Hierbei wird er eventuell bereits geleistete Zahlungen des Kunden unverzüglich erstatten.
§ 4 Lieferung, Preise, Versandkosten
(1) Die Auslieferung an das Versandunternehmen erfolgt spätestens zwei Tage nach Geldeingang, bei
Zahlung per Nachnahme spätestens zwei Tage nach der Auftragsbestätigung. Die Lieferzeit beträgt bis
zu fünf Tage. Auf eventuell abweichende Lieferzeiten weist der Verkäufer auf der jeweiligen
Produktseite hin.
© Rechtsanwalt Jacob Metzler
➠ www.rechtsanwalt-metzler.de
Seite 4 von 5
(2) Die Lieferung erfolgt nur innerhalb der EU.
(3) Alle Artikelpreise enthalten die gesetzliche Mehrwertsteuer. Die angegebenen Preise sind
Endverkaufspreise zuzüglich Versandkosten. Der Kunde erhält eine Rechnung mit ausgewiesener
Mehrwertsteuer.
§ 5 Zahlung
Die Zahlung erfolgt per Vorkasse (PayPal, Überweisung) oder per Nachnahme.
§ 6 Transportschäden
(1) Werden Waren mit offensichtlichen Transportschäden angeliefert, wird der Kunden gebeten, diese
Fehler sofort bei dem Zusteller zu reklamieren und schnellstmöglich Kontakt zu dem Verkäufer
aufzunehmen.
(2) Die Versäumung einer Reklamation oder der Kontaktaufnahme hat für die gesetzlichen
Gewährleistungsrechte des Kunden keinerlei Konsequenzen, hilft dem Verkäufer aber, eigene
Ansprüche gegenüber dem Frachtführer bzw. der Transportversicherung geltend machen zu können.
§ 7 Sachmängelgewährleistung
(1) Der Anbieter haftet für Sachmängel nach den hierfür geltenden gesetzlichen Vorschriften,
insbesondere §§ 434 ff BGB.
(2) Eine Garantie besteht bei den vom Anbieter gelieferten Waren nur, wenn diese ausdrücklich in der
Auftragsbestätigung zu dem jeweiligen Artikel abgegeben wurde.
(3) Beanstandungen und Mängelhaftungsansprüche können Sie unter der in der
Anbieterkennzeichnung angegebenen Adresse vorbringen.
§ 8 Eigentumsvorbehalt
Bis zur vollständigen Bezahlung verbleiben die gelieferten Waren im Eigentum des Verkäufers.
§ 9 Haftung
© Rechtsanwalt Jacob Metzler
➠ www.rechtsanwalt-metzler.de
Seite 5 von 5
Es gelten die gesetzlichen Vorschriften.
§ 10 Vertragstext
Der Vertragstext wird auf den internen Systemen des Verkäufers gespeichert. Die Allgemeinen
Geschäftsbedingungen kann der Kunde jederzeit in seinem Kundenkonto einsehen. Die Bestelldaten
und die AGB werden dem Kunden per E-Mail zugesendet. Nach Abschluss der Bestellung sind die
Bestelldaten aus Sicherheitsgründen nicht mehr über das Internet zugänglich.
§ 11 Schlussbestimmungen
(1) Die Vertragssprache ist deutsch.
(2) Auf Verträge zwischen dem Verkäufer und den Kunden findet das Recht der Bundesrepublik
Deutschland unter Ausschluss der Gesetze über den internationalen Kauf beweglicher Waren
Anwendung. Diese Rechtswahl gilt bei Verbrauchern nur, soweit der durch zwingende Bestimmungen
des Rechts des Staates des gewöhnlichen Aufenthaltes des Verbrauchers gewährte Schutz dem
Kunden nicht entzogen wird.
(3) Sofern es sich beim Kunden um einen Kaufmann, eine juristische Person des öffentlichen Rechts
oder um ein öffentlich-rechtliches Sondervermögen handelt, ist Gerichtsstand für alle Streitigkeiten aus
Vertragsverhältnissen zwischen dem Kunden und dem Verkäufer der Sitz des Verkäufers. Dies gilt
auch, sofern der Kunde keinen allgemeinen Gerichtsstand in Deutschland oder der EU hat, oder sein
Wohnsitz oder sein gewöhnlicher Aufenthalt im Zeitpunkt der Klageerhebung nicht bekannt ist.
<p>Quelle: <a href="http://www.rechtsanwalt-metzler.de" title="Rechtsanwalt f&uuml;r
Wettbewerbsrecht, Markenrecht und Urheberrecht">Rechtsanwalt Metzler - Rechtsanwalt f&uuml;r
Wettbewerbsrecht, Markenrecht und Urheberrecht</a></p>
</div>



</ion-content>
</ion-view>