/* Empty. Add your own CSS if you like */


/* Modal Background Image */

.modal1.scroll-content {
    background: url('../img/modal1_opt-compressor.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



.registration.scroll-content {
  background: url('../img/background_opt-compressor.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#form {

  background-color: white;
  margin-top: 25px;
}
